/***
FONTS 
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Old+Standard+TT:400,700");

@import "./variables";
@import "./header";

/*** 
VAR
*/

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Old Standard tt";
  box-sizing: border-box;
  background-color: map-get($colors, primary);
  height: 100%;
  width: 100%;
  font-size: 12px;
}

/************
MAIN 
*****/

main {
  margin-top: 60px;
  .work-title {
    margin-top: 100px;
    background-color: map-get($colors, accent);
    width: 55%;
    height: 40px;
    position: relative;

    @include for-tablet-portrait-up {
      width: 200px;
    }
  }
  /*
  .work-title::before {
    content: "WORK";
    position: absolute;
    width: 0;
    left: 20px;
    top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;

    color: white;
  }
  */
  .grid {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(120px, 1fr));
    margin: 1em auto;
    grid-auto-flow: dense;

    margin-top: 50px;

    align-items: center;
    justify-content: center;
    padding: 20px;

    padding-bottom: 80px;
    max-width: 1500px;

    @include for-tablet-portrait-up {
      padding: 150px;
      padding-top: 0;
    }

    @include for-tablet-landscape-up {
      max-width: 1200px;
      padding-bottom: 150px;
    }

    .landscape {
      @include for-tablet-landscape-up {
        grid-column-end: span 2;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

/************
Footer
*****/

footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: map-get($colors, primary);
  border-top: 1px solid map-get($colors, secondary);
  .icon-container {
    width: 40%;
    @include even_justify(center);
    font-size: 36px;
    align-items: center;

    a {
      text-decoration: none;
      color: map-get($colors, accent);
      transition: color 0.3s ease-in;
      &:hover {
        color: white;
      }
      i {
        padding: 0px 40px 0 60px;
        @include for-desktop-up {
          font-size: 48px;
        }
      }
    }
  }

  .text {
    text-align: center;
    justify-content: space-between;

    display: flex;
    padding: 0 15px 0 15px;
    align-items: flex-end;

    @include for-tablet-landscape-up {
      padding: 2rem;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-grow: 1;
    }

    p {
      text-align: center;
      color: #c9c9c9;
      font-weight: 400;
    }
    .tagline {
      color: map-get($colors, secondary);
      visibility: hidden;
      text-align: center;
      @include for-tablet-landscape-up {
        visibility: visible;
      }
    }
  }
}
